body{
    margin:0px;
}
header{
    padding: 100px;
    background-color: black;
}
h1{
    color: white;
    font-size: 50px;
}
header a{
    display: flex;
    color: white;
    margin: 10px;
    justify-content: space-evenly;
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.foto{
    margin: 17px;

}
.foto p{
    display: flex;
    justify-content: center;
}
@media (max-width: 700px){
    body{
        margin: 0px;
    }
    header{
        padding: 10px;
        background-color: black;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .foto p{
        display: flex;
        justify-content: center;
    }
    header h1{
        display: flex;
        align-content: center;
    }
}
